<!--
This template loads for the 'tab.friend-detail' state (app.js)
'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
The FriendsCtrl pulls data from the Friends service (service.js)
The Friends service returns an array of friend data
-->
<ion-view>
  <ion-content class="padding">
    <!-- <img ng-src="{{movementCard.face}}" style="width: 64px; height: 64px"> -->
    <div id="movie">
      <video width="90%" class="myVideo demos" ng-src="{{movementCard.movie}}" controls></video>

    </div>
    <h4>{{movementCard.title}}</h4>
    <p>
      insert {movementCard.description} here
    </p>
  </ion-content>
</ion-view>
