<ion-view view-title="Info">
  <ion-content>
    <div class="list">
      <a href="#" class="item item-icon-right">
        about roland yakoubov
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a href="#" class="item item-icon-right">
        disclaimer
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a href="#" class="item item-icon-right">
        follow us
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a href="#" class="item item-icon-right">
        contact us
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a href="#" class="item item-icon-right">
        credits
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
