<ion-view view-title="Bioenergetic Healing">
  <ion-content>
    <div class="list">
      <a href="#" class="item item-icon-right">
        healing sequences
        <i class="icon ion-chevron-right"></i>
      </a>
      <a href="#" class="item item-icon-right">
        symptoms and conditions
        <i class="icon ion-chevron-right"></i>
      </a>
      <a href="#" class="item item-icon-right">
        how to use this app
        <i class="icon ion-chevron-right"></i>
      </a>
      <a href="#" class="item item-icon-right">
        beginning the healing session
        <i class="icon ion-chevron-right"></i>
      </a>
      <a href="#" class="item item-icon-right">
        About the healing techniques
        <i class="icon ion-chevron-right"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
